{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="form-main">
        <div class="container">
            {{ form_start(registrationForm, {attr: {'class': 'auth-form'}}) }}
                <header class="auth-form-header">
                    <span>Вход и регистрация</span>
                </header>
                <main class="auth-form-main-section">
                    <div>
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div>
                        {{ form_row(registrationForm.surname) }}
                    </div>
                    <div>
                        {{ form_row(registrationForm.patronymic) }}
                    </div>
                    <div>
                        {{ form_row(registrationForm.phoneNumber) }}
                    </div>
                    <div>
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div>
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    <div>
                        {{ form_row(registrationForm.roles, { attr: { 'class': 'role-choice' } }) }}
                    </div>
                    <button type="submit">Зарегистрироваться</button>
                </main>
                <footer class="auth-form-footer">
                      <span
                      >У вас уже есть аккаунт?
                        <a href="{{ path('app_login') }}">Авторизируйтесь</a>.</span
                      >
                </footer>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/imask"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const inputElement = document.querySelector('.phone_input') // ищем наш единственный input
            const maskOptions = { // создаем объект параметров
                mask: '+{7} (000) 000-00-00' // задаем единственный параметр mask
            }
            IMask(inputElement, maskOptions) // запускаем плагин с переданными параметрами
        })
    </script>
{% endblock %}

