{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <main class="user-profile-main">
        <div class="container">
            <div class="user-profile-content">
                <aside>
                    <nav class="user-nav">
                        <ul>
                            <li><a href="{{ path('app_client_create_order') }}">Новый заказ</a></li>
                            <li><a href="{{ path('app_client_homepage') }}">Мои заказы</a></li>
                            <li><a href="{{ path('app_client_profile') }}">Профиль</a></li>
                            <li><a class="logout" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    </nav>
                </aside>
                <main class="client-homepage-main-section">
                    <h1>Мои заказы</h1>
                    <nav class="client-homepage-main-section-navbar">
                        <button type="button" class="tabs-btn">В очереди</button>
                        <button type="button" class="tabs-btn">В процессе</button>
                        <button type="button" class="tabs-btn">Архив</button>
                    </nav>
                    <div class="order-tabs-content">
                        <div class="order-list" id="pending">
                            {% for order in notAppointedOrders %}
                                <div class="order-tab">
                                    <h2>{{ order.orderName }}</h2>
                                    <div>
                                        <a href="{{ path('app_client_show_order', { id: order.id }) }}" class="order-info">Детали заказа</a>
{#                                        <p>22.04.2023</p>#}
                                    </div>
                                    <div>
                                        <a href="{{ path('app_client_available_specialists', { id: order.id }) }}">Подобрать специалиста</a>
                                    </div>
                                    <div class="order-tab-button-section">
                                        <a href="{{ path('app_client_related_specialists', { id: order.id }) }}" class="order-cancel-btn">
                                            Перейти к специалистам
                                        </a>
                                        <a href="{{ path('app_client_delete_order', { id: order.id }) }}">
                                            Отменить заказ
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="order-list" id="inProgress">
                            {% for order in appointedOrders %}
                                <div class="order-tab">
                                    <h2>{{ order.orderName }}</h2>
                                    <div>
                                        <a href="{{ path('app_client_show_order', { id: order.id }) }}" class="order-info">Детали заказа</a>
                                        {#                                        <p>22.04.2023</p>#}
                                    </div>
                                    <div>
                                        <a href="{{ path('app_client_specialist_profile', { id: order.specialist.id }) }}"
                                           class="client_link_to_spec"
                                        >
                                            {{ order.specialist.userId.email }}
                                        </a>
                                    </div>
                                    <div class="order-tab-button-section">
                                        <a href="{{ path('app_client_complete_order', { id: order.id }) }}" class="review_btn">
                                            Завершить заказ
                                        </a>
                                        <a href="{{ path('app_client_delete_order', { id: order.id }) }}">
                                            Отменить заказ
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="order-list" id="archive">
                            {% for order in archivedOrders %}
                                <div class="order-tab">
                                    <h2>{{ order.orderName }}</h2>
                                    <div>
                                        <a href="{{ path('app_client_show_order', { id: order.id }) }}"
                                           class="order-info"
                                        >
                                            Детали заказа
                                        </a>
                                        {#                                        <p>22.04.2023</p>#}
                                    </div>
                                    <div>
                                        <a href="{{ path('app_client_specialist_profile', { id: order.specialist.id }) }}"
                                           class="client_link_to_spec"
                                        >
                                            {{ order.specialist.userId.email }}
                                        </a>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_client_leave_feedback', { id: order.specialist.id }) }}" class="review_btn">
                                            Оставить отзыв
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </main>
{% endblock %}
