{% extends 'base.html.twig' %}

{% block body %}
    <main class="user-profile-main">
        <div class="container">
            <div class="user-profile-content">
                <aside>
                    <nav class="user-nav">
                        <ul>
                            <li><a href="{{ path('app_client_show_order', { id: order.id }) }}">Мой заказ</a></li>
                            <li><a href="{{ path('app_client_homepage') }}">Список заказов</a></li>
                            <li><a href="{{ path('app_client_profile') }}">Профиль</a></li>
                            <li><a class="logout" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    </nav>
                </aside>
                <main class="client-homepage-main-section">
                    <h1>Список специалистов</h1>
                    <div class="spec-list">
                        {% for specialist in specialists %}
                            <div class="spec-item">
                                <div>
                                    <header>
                                        <div class="spec-profile-img">
                                            <img src="{{ asset('build/images/profile-placeholder.16b74247.png') }}" alt="specialist profile picture">
                                        </div>
                                        <div class="spec-profile-header">
                                            <p class="spec-name">
                                                <a href="{{ path('app_client_specialist_profile', { id: specialist.id }) }}">{{ specialist.userId.email }}</a>
                                            </p>
                                        </div>
                                    </header>
                                    <main>
                                        {#                                    <div class="portfolio-section">#}
                                        {#                                        <p>Here suppose to be portfolio section</p>#}
                                        {#                                    </div>#}
                                        <div class="spec-review-section">
                                            <h2>Отзывы</h2>
                                            {% if not specialist.specialistRatings %}
                                                <p>У данного специалиста пока нет отзывов.</p>
                                            {% else %}
                                                <div>
                                                    {% for rating in specialist.specialistRatings %}
                                                        <p style="margin-bottom: 1rem; font-size: 1rem">{{ rating.ratingText }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                            {#                                    Эта ссылка ведет на анкету специалиста (можно сделать якорь на конкретную секцию )#}
                                            <a href="">Показать все отзывы</a>
                                        </div>
                                        <div class="spec-services">
                                            <h2>Предоставляемые услуги</h2>
                                            <table class="spec-services-table">
                                                <tbody>
                                                    <tr style="display: block; margin-bottom: .6rem; font-size: 1.1rem; font-weight: bold;">Сантехника</tr>
                                                    <tr>
                                                        <td class="item_name">Услуга</td>
                                                        <td class="item_value">3000 рб/кв.м</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="item_name">Услуга</td>
                                                        <td class="item_value">3000 рб/кв.м</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <a href="">Показать все услуги</a>
                                        </div>
                                    </main>
                                </div>
                                <aside class="spec-aside-bar">
                                    <a
                                            href="{{ path('app_client_offer_order_to_specialist',
                                                { orderId: order.id, specId: specialist.id }) }}"
                                    >
                                        Предложить заказ
                                    </a>

                                    <div class="spec-rating">
                                        {% set avgRating = 0 %}
                                        {% for rating in specialist.specialistRatings %}
                                            {% set avgRating = avgRating + rating.rating %}
                                        {% endfor %}
                                        {% if specialist.specialistRatings.count == 0 %}
                                            <p style="text-align: center;">У этого пользователя пока нет отзывов</p>
                                        {% else %}
                                            <p><span>{{ avgRating / specialist.specialistRatings.count }}</span>Рейтинг</p>
                                            <p><span>{{ specialist.specialistRatings.count }}</span>Отзыва</p>
                                        {% endif %}
                                    </div>
                                    <p class="spec-location" style="margin-bottom: 1rem;">Местоположение</p>
                                    <p>Москва</p>
                                </aside>
                            </div>
                        {% endfor %}
                    </div>
                </main>
            </div>
        </div>
    </main>
{% endblock %}