{% extends 'base.html.twig' %}

{% block title %} Client order information {% endblock %}

{% block body %}
    <main class="user-profile-main">
        <div class="container">
            <div class="user-profile-content">
                <aside>
                    <nav class="user-nav">
                        <ul>
                            <li><a href="{{ path('app_client_create_order') }}">Новый заказ</a></li>
                            <li><a href="{{ path('app_client_homepage') }}">Мои заказы</a></li>
                            <li><a href="{{ path('app_client_profile') }}">Настройки</a></li>
                            <li><a class="logout" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    </nav>
                </aside>
                <main class="client-profile-content">
                    <header class="order-header-info">
                        <h1>Мой заказ</h1>
                        <div>
                            <p>Номер заказа: №{{ order.id }}</p>
                            <p>Дата создания заказа: {{ order.createdAt|date('d.m.Y') }}</p>
                        </div>
                    </header>
                    <main class="order-main-info">
                        <h2>Название вашего заказа</h2>
                        <p>{{ order.orderName }}</p>
                        <h2>Услуги</h2>
                        <section class="order-main-info-service">
                            <h3>Сантехника</h3>
                            <ul style="list-style: none">
                                <li>Прочистка канализации</li>
                                {#                                <li>Услуга №2</li>#}
                                {#                                <li>Услуга №3</li>#}
                            </ul>
                        </section>
                        <h2>Где будут проводиться работы?</h2>
                        <p>Московская обл., Москва, Никольская 7, кв. 12</p>
                        <h2>Когда будет удобно начать работу?</h2>
                        <p>14.06.2023</p>
                        <h2>Детали заказа</h2>
                        <p>
                            {{ order.description }}
                        </p>
                        <h2>Ожидаемая стоимость</h2>
                        <p>{{ order.cost }} руб.</p>
                    </main>
                    <footer>
                        <a href="{{ path('app_client_delete_order', {'id': order.id }) }}" class="delete_order_btn">Отменить заказ</a>
                        <a href="{{ path('app_client_update_order', { 'id': order.id }) }}" class="update_order_btn">Редактировать заказ</a>
                    </footer>
                </main>
            </div>
        </div>
    </main>
{%  endblock %}