{% extends 'base.html.twig' %}

{% block body %}
    <main class="user-profile-main">
        <div class="container">
            <div class="user-profile-content">
                <aside class="spec-nav">
                    <nav class="user-nav">
                        <ul>
                            <li><a href="{{ path('app_specialist_available_orders') }}">Новые заказы</a></li>
                            <li><a href="{{ path('app_specialist_homepage') }}">Мои заказы</a></li>
                            <li><a href="{{ path('app_specialist_profile') }}">Профиль</a></li>
                            <li><a href="{{ path('app_specialist_user_settings') }}">Настройки</a></li>
                            <li><a class="logout" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    </nav>
                </aside>
                <main class="portfolio_adding_form">
                    <h1 style="margin-bottom: 1rem;">Новая услуга</h1>
                    {{ form_start(serviceForm, { attr: { style: 'font-size: 1.1rem;' }}) }}

                        {{ form_row(serviceForm.serviceName) }}
                        <br>
                        {{ form_row(serviceForm.cost) }}
                        <br>
                        {{ form_row(serviceForm.category) }}

                        <button type="submit" class="order-cancel-btn" style="margin-top: 2rem;">Добавить</button>
                    {{ form_end(serviceForm) }}
                </main>
            </div>
        </div>
    </main>
{% endblock %}