{% extends 'base.html.twig' %}

{% block body %}
    <main class="user-profile-main">
        <div class="container">
            <div class="user-profile-content">
                <aside class="spec-nav">
                    <nav class="user-nav">
                        <ul>
                            <li><a href="{{ path('app_specialist_available_orders') }}">Новые заказы</a></li>
                            <li><a href="{{ path('app_specialist_homepage') }}">Мои заказы</a></li>
                            <li><a href="{{ path('app_specialist_profile') }}">Профиль</a></li>
                            <li><a class="logout" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    </nav>
                </aside>
                <main class="spec-new-orders-main">
                    <div class="tabs">
                        <nav class="tabs__nav">
                            <button class="tabs__button" data-for-tab="1">Все заказы</button>
                            <button class="tabs__button" data-for-tab="2">Подходящие</button>
                        </nav>

                        <div class="tabs__content" data-tab="1">
                            <form action="" class="spec-search-order-form">
                                <label for="category">Категория услуг</label>
                                <input type="text" id="category">
                                <label for="service">Наименование услуги</label>
                                <input type="text" id="service">
                                <label for="cost">Ставка за услуги</label>
                                <input type="text" placeholder="от" id="cost">
                                <input type="text" placeholder="до" id="cost">
                                <label for="location">Местоположение проведения работ</label>
                                <input type="text" id="location" placeholder="Укажиет город">
                                <button type="submit">Поиск</button>
                            </form>

                            <h1>Список заказов</h1>

                            {% for order in orders %}
                                <div class="spec-new-order-item">
                                    <h1><a href="">{{ order.orderName }}</a></h1>
                                    <div class="client_info">
                                        <p>{{ order.client.userId.email }}</p>
                                        <p>Сантехника</p>
                                    </div>
                                    <div>
                                        <p>Москва</p>
                                    </div>
                                    <div class="order_item_btns">
                                        <span style="margin-bottom: .6rem;">от 3000 рб</span>
                                        <a href="{{ path('app_specialist_respond', { id: order.id }) }}"
                                           class="order-cancel-btn"
                                        >
                                            Откликнуться
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tabs__content" data-tab="2">
                            <input type="text" placeholder="Поиск..." class="search_by_order">
                            <div class="spec-new-order-item">
                                <h1><a href="">Замена труб в ванной комнате</a></h1>
                                <div class="client_info">
                                    <p>sdfasdfasd</p>
                                    <p>Сантехника</p>
                                </div>
                                <div>
                                    <p>Москва</p>
                                </div>
                                <div class="order_item_btns">
                                    <span>от 3000 рб</span>
                                    <button class="order-cancel-btn">Откликнуться</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        function setupTabs() {
            document.querySelectorAll('.tabs__button').forEach(button => {
                button.addEventListener('click', () => {
                    const navBar = button.parentElement;
                    const tabsContainer = navBar.parentElement;
                    const tabNumber = button.dataset.forTab;
                    const tabToActivate = tabsContainer.querySelector(`.tabs__content[data-tab="${tabNumber}"]`)

                    navBar.querySelectorAll('.tabs__button').forEach(button => {
                        button.classList.remove('tabs__button--active');
                    })

                    tabsContainer.querySelectorAll('.tabs__content').forEach(tab => {
                        tab.classList.remove('tabs__content--active');
                    })

                    button.classList.add('tabs__button--active');
                    tabToActivate.classList.add('tabs__content--active');
                })
            })
        }

        document.addEventListener('DOMContentLoaded', () => {
            setupTabs();

            document.querySelectorAll('.tabs').forEach(tabsContainer => {
                tabsContainer.querySelector('.tabs__nav .tabs__button').click();
            })
        });
    </script>
{% endblock %}