{% extends 'base.html.twig' %}

{% block body %}
    <main class="user-profile-main">
        <div class="container">
            <div class="user-profile-content">
                <aside class="spec-nav">
                    <nav class="user-nav">
                        <ul>
                            <li><a href="{{ path('app_specialist_available_orders') }}">Новые заказы</a></li>
                            <li><a href="{{ path('app_specialist_homepage') }}">Мои заказы</a></li>
                            <li><a href="{{ path('app_specialist_profile') }}">Профиль</a></li>
                            <li><a href="{{ path('app_specialist_user_settings') }}">Настройки</a></li>
                            <li><a class="logout" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    </nav>
                </aside>
                <main class="profile_edit_main">
                    <h1>Редактирование профиля</h1>
                    {{ form_start(profileForm) }}
                        {{ form_row(profileForm.aboutMyself) }}
                        <p style="color: #777777; font-size: .9rem">Не более 1000 символов</p>
                        {{ form_row(profileForm.education) }}
                        {{ form_row(profileForm.workExperience) }}
                        {{ form_row(profileForm.avatarImage, { 'attr': { 'style': 'border: none;' } }) }}

                        <button type="submit" class="order-cancel-btn">Сохранить</button>

                    {{ form_end(profileForm) }}
                </main>
            </div>
        </div>
    </main>
{% endblock %}