<header class="main-header">
    <div class="header-container">
        <div class="header-col">
            <a href="{{ path('app_main_page') }}" class="main-site-header-logo">LOGO</a>
            <div class="main-site-location-bar">
                <div class="header-loc-curr-city">
                    <button>
                        <span>Москва</span>
                        <img
                                src="{{ asset('build/images/down-arrow-backup-2-svgrepo-com.9152d6b1.svg') }}"
                                alt="dowm arrow"
                                width="14px"
                                height="14px"
                        />
                    </button>
                </div>
                <div class="header-loc-list"></div>
            </div>
        </div>
        <div class="header-col">
            <div class="main-site-header-client-auth">
                <div class="signBtn">
                    <a href="{{ app.user ? is_granted('ROLE_USER') ? path('app_client_homepage') : path('app_specialist_homepage') : path('app_login') }}">
                        <span>{{ app.user ? app.user.email : 'Войти' }}</span>
                    </a>
                </div>

                {% if is_granted('ROLE_USER')  %}
                    <div class="auth-user-nav">
                        <a href="{{ path('app_client_homepage') }}">Мои заказы</a>
                        <a href="{{ path('app_client_profile') }}">Профиль</a>
                        <a class="logout" href="{{ path('app_logout') }}">Выйти</a>
                    </div>
                {% elseif is_granted('ROLE_SPECIALIST') %}
                    <div class="auth-user-nav">
                        <a href="{{ path('app_specialist_homepage') }}">Мои заказы</a>
                        <a href="">Профиль</a>
                        <a class="logout" href="{{ path('app_logout') }}">Выйти</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>